<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Post</title>

</head>
<body>
<a href="/">Home</a>
<br/>
<a href="/posts">Lista de posts</a>
<br/>
<b>Titulo:</b><p th:text="${post.title}"></p>
<b>Texto:</b><p th:text="${post.text}"></p>
<b>Category:</b><p th:text="${post.category.name}"></p>
<b>Likes:</b><p th:text="${post.likes}"></p>
<br></br>
<b>Comentario:</b>
<form class="form-horizontal" th:object="${comment}" th:action="@{/comment}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{post}"/>
    <div class="form-group">
        <div class="col-sm-10">
            <input type="text" class="form-control" th:field="*{text}"/>
        </div>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-default">Guardar</button>
    </div>
</form>
<div th:each="comment : ${post.comments}">
    <div th:text="${comment.text}"></div>
</div>

</body>
</html>