<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>PostForm</title>

</head>
<body>
<div class="container">
    <a href="/">Home</a>
    <br/>
    <a href="/posts">List Posts</a>
    <br/>

    <h2>Post Details</h2>
    <div>
        <form class="form-horizontal" th:object="${post}" th:action="@{/post}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">Title:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{title}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Category:</label>
                <div class="col-sm-10">
                    <select th:field="*{category}">
                        <option th:each="category : ${categories}"
                                th:value="${category.id}"
                                th:text="${category.name}"></option>
                    </select><br/><br/>
                </div>
            </div>
            <div class="form-group">
               <label class="col-sm-2 control-label">Users</label>
               <div class="col-sm-10">
                   <select th:field="*{user}">
                      <option th:each="category : ${users}" th:value="${user.name}"></option>
                   </select><br/><br/>
               </div>
                
            </div>
            <div class="form-group">
                <label class="col-sm-2 control label">Comment</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{comment}"/>
                </div>
                
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Text:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{text}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">URL:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{url}"/>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>